<% @renderings.each do |rendering| %>
  <div class="carousel-item" style="background-image: <%= rendering.image %>)">
    <div class="carousel-caption d-none d-md-block">
    </div>
  </div>
<% end %>