<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">
        UBER FREIGHT'S NEW<br></h1>
        <h1>STATE OF THE ART HQ</h1>
    <p class="lead">Our Mobility Technology is Setting Chicago's North Branch Submarket in Motion</p>
        <%= link_to "Learn How", products_path, class: "btn btn-primary btn-lg btn-xlarge" %>
  </div>
</div>
