<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4", id: "intro">
        UBER MIDWEST HQ <br></h1>
    <p>-- A New State of the Art --<br></p>
        <h1>CONNECTED CAMPUS</h1>
    <p class="lead">Advanced Mobility Technology is Setting Chicago's North Branch in Motion</p>
        <%= link_to "Let's Ride", products_path, class: "btn btn-primary btn-lg btn-xlarge" %>
  </div>
</div>
