<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4", id: "intro">
        UBER MIDWEST HQ <br>
        SETTING CHICAGO <br>
        IN MOTION</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        <%= link_to "Sign Up Now", products_path, class: "btn btn-danger btn-lg btn-xlarge" %>
  </div>
</div>
