/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 
 .carousel-indicators li{
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
}
#hero {
    position: relative;
}

#course-form{
    
}
#carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel-inner,
.carousel-item {
    height: 100%;
    
}
.carousel-item {
    background: no-repeat center/cover;
    background-size: cover;
}

.logo {
    height: 30vh;
    width: 15vw;
    position: relative;
    bottom: 100px;
    right: 50px;
    z-index: 1;
}
