<div class="container">

  <footer class="footer">
    
    <small>
       Uber | Connected Campus <a href = "http://riversideid.com/" target="_blank"><br>
       A Riverside Project</a>
    </small>
    
    <nav>
      <ul>
        <li><i class="fa fa-camera-retro"></i> Take a photo</li>
        <li><i class="fa fa-shuttle-van"></i> Shuttle</li>
        <li><%= link_to "Products", products_path %></li>
      </ul>
    </nav>
    
  </footer>

</div>